<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dgs.dgscorecard" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScorecardActivity"
            android:label="@string/title_activity_scorecard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlayerSelect"
            android:label="@string/title_activity_player_select"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CourseSelect"
            android:label="@string/title_activity_course_select"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ManualCourseAdd"
            android:label="@string/title_activity_manual_course_add"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ScorecardSummary"
            android:label="@string/title_activity_scorecard_summary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditScorecard"
            android:label="@string/title_activity_edit_scorecard" >
        </activity>
        <activity
            android:name=".EditCourse"
            android:label="@string/title_activity_edit_course" >
        </activity>
        <activity
            android:name=".EditPlayer"
            android:label="@string/title_activity_edit_player" >
        </activity>
        <activity
            android:name=".ResumeScorecard"
            android:label="@string/title_activity_resume_scorecard" >
        </activity>
        <activity
            android:name=".PlayerStats"
            android:label="@string/title_activity_player_stats" >
        </activity>
        <activity
            android:name=".ViewPlayerStats"
            android:label="@string/title_activity_view_player_stats" >
        </activity>
    </application>

</manifest>
